<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionCode="136"
      android:versionName="1.52" package="mobi.pruss.superdim">


    <application android:icon="@drawable/icon" android:label="@string/app_name"
    >
        <activity android:name=".SuperDim"
                  android:label="@string/app_name"
                  android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddShortcut"
        	android:label="SuperDim shortcut">
        </activity>
        <activity-alias android:name=".CreateShortcut0"
        	android:targetActivity=".AddShortcut"
        	android:label="SuperDim Night 1"
        	android:icon="@drawable/custom0"
        	>
        	<intent-filter>
        	<action android:name="android.intent.action.CREATE_SHORTCUT" />
            <category android:name="android.intent.category.DEFAULT" />
        	</intent-filter>
        </activity-alias>
        <activity-alias android:name=".CreateShortcut1"
        	android:targetActivity=".AddShortcut"
        	android:label="SuperDim Night 2"
        	android:icon="@drawable/custom1"
        	>
        	<intent-filter>
        	<action android:name="android.intent.action.CREATE_SHORTCUT" />
            <category android:name="android.intent.category.DEFAULT" />
        	</intent-filter>
        </activity-alias>
        <activity-alias android:name=".CreateShortcut2"
        	android:targetActivity=".AddShortcut"
        	android:label="SuperDim Night 3"
        	android:icon="@drawable/custom2"
        	>
        	<intent-filter>
        	<action android:name="android.intent.action.CREATE_SHORTCUT" />
            <category android:name="android.intent.category.DEFAULT" />
        	</intent-filter>
        </activity-alias>
        <activity-alias android:name=".CreateShortcut3"
        	android:targetActivity=".AddShortcut"
        	android:label="SuperDim Day 1"
        	android:icon="@drawable/custom3"
        	>
        	<intent-filter>
        	<action android:name="android.intent.action.CREATE_SHORTCUT" />
            <category android:name="android.intent.category.DEFAULT" />
        	</intent-filter>
        </activity-alias>
        <activity-alias android:name=".CreateShortcut4"
        	android:targetActivity=".AddShortcut"
        	android:label="SuperDim Day 2"
        	android:icon="@drawable/custom4"
        	>
        	<intent-filter>
        	<action android:name="android.intent.action.CREATE_SHORTCUT" />
            <category android:name="android.intent.category.DEFAULT" />
        	</intent-filter>
        </activity-alias>
        <activity-alias android:name=".CreateShortcutAuto"
        	android:targetActivity=".AddShortcut"
        	android:label="SuperDim Auto Brightness"
        	android:icon="@drawable/icon"
        	>
        	<intent-filter>
        	<action android:name="android.intent.action.CREATE_SHORTCUT" />
            <category android:name="android.intent.category.DEFAULT" />
        	</intent-filter>
        </activity-alias>
        <activity-alias android:name=".CreateShortcutCycle"
        	android:targetActivity=".AddShortcut"
        	android:label="SuperDim Cycle Settings"
        	android:icon="@drawable/icon"
        	>
        	<intent-filter>
        	<action android:name="android.intent.action.CREATE_SHORTCUT" />
            <category android:name="android.intent.category.DEFAULT" />
        	</intent-filter>
        </activity-alias>
        <service android:name=".ScreenOnListen">
        </service>

		<activity android:name=".Options" android:label="Options" />
        <activity android:name="mobi.omegacentauri.doublepower.Apps"
      			  android:configChanges="keyboard|keyboardHidden|orientation"
                  android:launchMode="singleTask"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <receiver android:name="OnBootReceiver">
        <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED"/>
        <category android:name="android.intent.category.HOME" />        
        </intent-filter> 
        </receiver>
    </application>
     <uses-sdk android:minSdkVersion="6" />
     
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
</manifest>